<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Music</title>
    <meta property="og:title" content="Game of Music" />
    <meta property="og:type" content="website" />
    <meta property="og:url" content="http://gameofmusic.azurewebsites.net/" />
    <meta property="og:image" content="http://gameofmusic.azurewebsites.net/Content/Images/gameofmusic.png" />
    <meta property="og:description" content="A musical experiment based on Conway's Game of Life" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.min.css" rel="stylesheet" />
    <link href="~/Content/hopscotch.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="Game of Music | A music experiment based on Conway's Game of Life'" />
    <meta name="author" content="Oded Welgreen">
    <meta name="keywords" content="Procedural Generation,Procedural Music,Conway,AudioContext,JavaScript">
    @Html.Partial("Analytics")
    <body>

        <div class="container body-content">
            @RenderBody()

        </div>
        <footer>
            <p><span>Made by Oded Welgreen • View the source code on <a href="https://github.com/OdedW/game-of-music">GitHub</a></span></p>
            <ul>
                <li><a href="https://twitter.com/injagames" target="_blank"><img src="~/Content/Images/twitter.png" /> </a></li>
                <li><a href="https://github.com/OdedW/game-of-music" target="_blank"><img src="~/Content/Images/github.png" /> </a></li>
                <li><a href="https://soundcloud.com/injagames" target="_blank"> <img src="~/Content/Images/soundcloud.png" /> </a></li>
                <li><a href="https://www.youtube.com/channel/UCA8cEeddcTGoZAPoBbFC78A" target="_blank"> <img src="~/Content/Images/youtube.png" /> </a></li>
                <li><a href="mailto:InjaGames@outlook.com" target="_top"><img src="~/Content/Images/email.png" /> </a></li>
            </ul>
            <p>
                <span>Works best on WebKit •</span>
                <a href="http://www.google.com/chrome" target="_blank">Chrome</a>
                <span>or</span>
                <a href="http://www.apple.com/safari" target="_blank">Safari</a>
            </p>
                <!-- Place this tag where you want the share button to render. -->
                <div class="g-plus" data-action="share" data-annotation="bubble"></div>
                <!-- Place this tag after the last share tag. -->
                <script type="text/javascript">
                    (function () {
                        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
                        po.src = 'https://apis.google.com/js/platform.js';
                        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
                    })();
                </script>
                <iframe src="http://www.facebook.com/plugins/like.php?href=http%3A%2F%2Fgameofmusic.azurewebsites.net&width&layout=button_count&action=like&show_faces=false&share=false&height=21&appId=597988736940739"></iframe>

                <a href="https://twitter.com/share" class="twitter-share-button" data-via="InjaGames" data-hashtags="GameOfMusic">Tweet</a>
                <script>!function (d, s, id) { var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https'; if (!d.getElementById(id)) { js = d.createElement(s); js.id = id; js.src = p + '://platform.twitter.com/widgets.js'; fjs.parentNode.insertBefore(js, fjs); } }(document, 'script', 'twitter-wjs');</script>
              

               
        </footer>

        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/bootstrap.min.js"></script>
        <script src="~/Scripts/respond.min.js"></script>
        <script src="~/Scripts/knockout-3.1.0.min.js"></script>
        <script src="~/Scripts/require.min.js"></script>
        <script src="~/Scripts/buffer-loader.min.js"></script>
        <script src="~/Scripts/ZeroClipboard.js"></script>
        <script src="~/Scripts/hopscotch.min.js"></script>
        @RenderSection("scripts", required: false)
    </body>
</html>
