<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Music</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.min.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
    <meta name="description" content="Game of Music | A music experiment based on Conway's Game of Life'" />
    <script src="//code.createjs.com/createjs-2013.12.12.min.js"></script>
            @*    @Html.Partial("Analytics")*@</head>
<body>

    <div class="container body-content">
        @RenderBody()

    </div>
    <footer>
        <p>Made by Inja Games</p>
        <ul>
            <li><a href="https://twitter.com/injagames" target="_blank"><img src="~/Content/Images/twitter.png" /> </a></li>
            <li><a href="https://github.com/OdedW/game-of-music" target="_blank"><img src="~/Content/Images/github.png" /> </a></li>
            <li><a href="https://soundcloud.com/injagames" target="_blank"> <img src="~/Content/Images/soundcloud.png" /> </a></li>
            <li><a href="https://www.youtube.com/channel/UCA8cEeddcTGoZAPoBbFC78A" target="_blank"> <img src="~/Content/Images/youtube.png" /> </a></li>
            <li><a href="mailto:InjaGames@outlook.com" target="_top"><img src="~/Content/Images/email.png" /> </a></li>
        </ul>
        <p>
            <span>Works best on WebKit •</span>
            <a href="http://www.google.com/chrome" target="_blank">Chrome</a>
            <span>or</span>
            <a href="http://www.apple.com/safari" target="_blank">Safari</a>
        </p>
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/jsextlibs")
    @RenderSection("scripts", required: false)
</body>
</html>
